<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>

<body>
  <p>スクロール位置：<span id="scroll-amount">0px</span></p>
  <div id="scroll-box">
    <div id="scroll-contents">スクロール領域</div>
  </div>
  <p>ボタンを押すとページの 300px の位置に移動します。</p>
  <button id="button">移動する</button>
</body>

<style>
#scroll-box {
  overflow: scroll;
  height: 100px;
  border: 1px solid black;
}

#scroll-contents {
  height: 700px;
}
</style>

<script>
  $('#scroll-box').scroll(function() {
    $('#scroll-amount').text($(this).scrollTop() + 'px');
  });
  $('#button').on('click', function(){
    $(window).scrollTop(300);
  });
</script>

</html>
