<div class="form-group">
          <label for="subject">件名</label>
          <input type="text" name="subject" id="subject" class="form-control" value="{{ subject }}">
        </div>
      </div>
    </div>
    <div class="card-body">
      <button class="btn btn-primary">{{ button }}</button>
    </div>
  </div>
</form>
